.cell {
  width: 40pt;
  height: 40pt;
  float: left;
  margin-left:calc(calc(100% - 280pt) / 7);
  text-align: center;
  box-sizing: border-box;
  margin-top: 5pt;
  margin-bottom: 5pt;
  font-size: 16pt;
  font-weight: 400;
}
.cell #content {
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  padding-top: 9pt;
  border-radius: 5px;
}
